*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body
{
  background: pink;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App

{background: plum;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 min-width: 50rem;
 min-height: 300px;
 margin-top: 30px;
 border-radius: 20px;
 border: 2px solid black;
 padding-left: 30px;
}
.menu-item
{
  display: flex;
  flex-direction: column;
}
.quiz-item
{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.btn
{
  display: flex;
  margin-top: 30px;
  gap: 50px;

}
button
{
  width: 200px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
 background: lightseagreen
}

.EndScreen
{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.EndScreen.btn
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cred
{
  display: flex;
  gap: 10px;
}
.questions-info
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;

}
.answer
{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.questions
{
  font-size: 2.5rem;
}
.answer button
{
  background: palevioletred;
}